html, body {
    min-height: 100%;
}

body {
    flex: content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#canvas {
    min-width: 1000px;
    min-height: 600px;
}